.container-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.logo-image {
  height: 30%;
  width: 30%;
}

.card-body {
  position: absolute;
  width: 100%;
  background: black;
  opacity: 0.7;
  color: white;
  top: 20rem;
  text-align: center;
  font-size: 1.2em;
  font-family: roboto;
}

.container-data {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  font-family: "Ubuntu", sans-serif;
}

.container-header {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 242, 242);
}

.container-header p {
  font-weight: bold;
  margin-top: 6%;
  margin-left: 4%;
  margin-right: 30%;

  font-size: 17px;
}

.container-main {
  height: 30%;
  margin-bottom: 5%;
}

.container-main h3 {
  font-size: 25px;
  margin-top: 2%;
  margin-left: 4%;
}

.form label {
  margin-top: 3%;
  margin-bottom: 1%;
  display: flex;
  font-size: 0.7rem;
}

.form {
  margin-left: 4%;
  width: 100%;
}

.form input {
  width: 70%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-footer {
  height: 30%;
  background: rgb(243, 242, 242);
}

.container-button {
  margin-top: 5%;
  margin-left: 4%;
}

.footer-par {
  margin-left: 4%;
  margin-top: 5%;
}

.footer-par a {
  text-decoration: none;
  color: rgb(108, 167, 21);
}
